<md-content layout="column" class="md-padding" flex>
    <div layout="row" layout-margin>

        <floating-panel data-title="About Demo App" flex="25" hide-settings-tool="true">
            <md-content class="md-padding simple-bg">
                <p>
                    This  sample app demonstrates the use of <a href="https://angularjs.org/" target="_blank">AngularJS</a> as a framework for creating a simple web application,
                    and can be used as a template to start and build your own application.
                </p>
                <p>
                    The theme mechanism, and all the reusable UI components in this application, is part of the Material Design project for AngularJs. 
                    Further information and demos can be found here: <a href="https://material.angularjs.org" target="_blank">Angular Material</a>
                </p>
                <p>
                    For more information please view this <a href="https://github.com/FreeKernelJS/demos/tree/master/freekerneljs-demo-app">project on GitHub</a>.
                </p>
            </md-content>
        </floating-panel>
        
    </div>
</md-content>