.form-portlet .fkjs-panel{
    margin: $padding-small $padding-small 24px;
}

.form-portlet-last .fkjs-panel{
    margin: $padding-small;
}
.form-actions{
    margin-bottom: 20px;
}
.form-actions .md-button{
    min-width: 10em;
    margin: 1em;
    line-height: 25px;
}
.form-label{
    padding-right: 20px;
}